.logo{
-fx-text-fill: red;
-fx-background-radius: 50.0;
-fx-background-color: white;
-fx-font-family: "Allerta Stencil";
-fx-font-size: 50.0;
}

.mytitle{
    -fx-font-family: "Allerta Stencil";
    /*-fx-font-family: "Shadows Into Light";*/
    -fx-font-size: 50.0;
    
}
